<div class="navbar navbar-fixed-top shadow ">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Hackidemia</a>
      <!-- USER MENU
      ====================================-->
      <!-- <form class="navbar-search pull-left">
        <input type="text" class="search-query" placeholder="Search">
      </form> -->
      <div class="nav-collapse collapse">
        <ul class="nav" style="padding-left:25%">
          <li class="dropdown">
            <a href="" data-toggle="dropdown" role="button" class="dropdown-toggle">Explore <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li class=""><a href="/merchant">Sell my materials</a></li>
              <li class=""><a href="/institutes">All Schools</a></li>
              <li></li><li class=""><a href="/chalopadho-india/classrooms">My School</a></li>

            </ul>
          </li>

          <li class="divider-vertical"></li>
          <!--<li class=""><a href="/chalopadho-india/shikhar-sethi/classes">Shikhar Sethi</a></li>-->
          <li class=""><a href="/chalopadho-india/shikhar-sethi/classes">Home</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="" data-toggle="dropdown" role="button" class="dropdown-toggle">Library <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">

              <li class=""><a href="/questions">All Questions</a></li>
              <li><a href="/chalopadho-india/library">All Notes</a></li>
            </ul>
          </li>

          <!-- <li class="dropdown">

<a href="" data-toggle="dropdown" role="button" class="dropdown-toggle">My School <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu">
<li class=""><a href="/chalopadho-india/classrooms">All Classrooms</a></li>
<li class=""><a href="/chalopadho-india/teachers">All Teachers</a></li>
<li class=""><a href="/chalopadho-india/students">All Students</a></li>

</ul>
</li> -->

</ul>

</div> <!-- nav-collapse end -->

<div class="nav pull-right">

  <!--<form class="search">
    <div class="input-append">
      <input type="text" class="span2 search-query">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>-->
  <form class="navbar-search">
    <div class="input-append">
      <input type="text" class="span2 search-query">
      <button id="searchSubmitButton" type="submit" class="btn">Search</button>
    </div>
  </form>
      <span id="signinButton">
        <span
          class="g-signin"
          data-callback="signinCallback"
          data-clientid="698405748583.apps.googleusercontent.com"
          data-cookiepolicy="single_host_origin"
          data-requestvisibleactions="http://schemas.google.com/AddActivity"
          data-scope="https://www.googleapis.com/auth/plus.login">
       </span>
      </span>
</span>


</div> <!-- nav pull-right end -->

</div> <!-- container-fluid end -->
</div> <!-- navbar-inner end -->
</div>
